Repository tweag/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

Fixup
  compiler/GHC/Core/Opt/DmdAnal.hs
  compiler/GHC/HsToCore/Arrows.hs
  compiler/GHC/Tc/Gen/Arrow.hs
  compiler/GHC/Tc/Types/Evidence.hs
  libraries/ghc-prim/GHC/Types.hs
Owners: @bgamari, @simonpj, @rae

Fixup
  compiler/GHC/Tc/Solver.hs
Owners: @simonpj, @rae

Test a graded monad with QualifiedDo.
  testsuite/tests/qualifieddo/Monad/Graded.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun001.hs
  testsuite/tests/qualifieddo/qdorun001.stdout
Owners: @bgamari

Test a graded monad with QualifiedDo.
  testsuite/tests/qualifieddo/Monad/Graded.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun001.hs
  testsuite/tests/qualifieddo/qdorun001.stdout
Owners: @bgamari

Merge the 'do' and QDO tokens, and same for 'mdo' and QMDO
  compiler/GHC/Parser.y
  compiler/GHC/Parser/Lexer.x
Owners: @bgamari

Update haddock for lexer token changes.
  .gitmodules
Owners: @bgamari

Make splitQualName not segfault on unqualified names.
  compiler/GHC/Parser/Lexer.x
Owners: @bgamari

Merge the 'do' and QDO tokens, and same for 'mdo' and QMDO
  compiler/GHC/Parser.y
  compiler/GHC/Parser/Lexer.x
Owners: @bgamari

Parse qualified do statements
  compiler/GHC/Parser.y
  compiler/GHC/Parser/Lexer.x
  compiler/GHC/Parser/PostProcess.hs
Owners: @bgamari

Fix tests
  testsuite/tests/dependent/should_compile/dynamic-paper.stderr
  testsuite/tests/typecheck/should_compile/holes.stderr
  testsuite/tests/typecheck/should_compile/holes3.stderr
Owners: @bgamari

Use coreFullView more
  compiler/GHC/Core/TyCon.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Tc/Solver/Flatten.hs
Owners: @bgamari, @simonpj, @rae

Update haddock submodule for lexer token changes.
  .gitmodules
Owners: @bgamari

Make splitQualName not segfault on unqualified names.
  compiler/GHC/Parser/Lexer.x
Owners: @bgamari

Use mkTyConApp in subst_ty
  compiler/GHC/Core/Arity.hs
  compiler/GHC/Core/DataCon.hs-boot
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Opt/CSE.hs
  compiler/GHC/Core/Opt/SetLevels.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/Opt/Simplify/Monad.hs
  compiler/GHC/Core/TyCo/Rep.hs
  compiler/GHC/Core/TyCo/Rep.hs-boot
  compiler/GHC/Core/TyCo/Subst.hs
  compiler/GHC/Core/TyCo/Tidy.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Type.hs-boot
  compiler/GHC/Core/Utils.hs
  compiler/GHC/CoreToByteCode.hs
  compiler/GHC/Stg/Lift/Monad.hs
  compiler/GHC/Tc/Deriv/Functor.hs
  compiler/GHC/Tc/Gen/HsType.hs
  compiler/GHC/Tc/TyCl.hs
  compiler/GHC/Tc/Utils/TcMType.hs
  compiler/GHC/Tc/Utils/TcType.hs
  compiler/GHC/Tc/Utils/Zonk.hs
  compiler/GHC/Types/Id.hs
  compiler/GHC/Types/Var.hs
Owners: @bgamari, @RyanGlScott, @simonpj, @rae

subst_ty does less allocation
  compiler/GHC/Core/TyCo/Subst.hs
Owners: @bgamari

Move Multiplicity above Type in module hierarchy
  compiler/GHC/Builtin/Types.hs
  compiler/GHC/Core/Coercion.hs
  compiler/GHC/Core/FVs.hs
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Opt/Exitify.hs
  compiler/GHC/Core/Opt/FloatIn.hs
  compiler/GHC/Core/Opt/Simplify/Env.hs
  compiler/GHC/Core/Opt/StaticArgs.hs
  compiler/GHC/Core/PatSyn.hs
  compiler/GHC/Core/TyCo/Ppr.hs
  compiler/GHC/Core/TyCo/Ppr.hs-boot
  compiler/GHC/Core/TyCo/Subst.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/CoreToByteCode.hs
  compiler/GHC/HsToCore.hs
  compiler/GHC/HsToCore/ListComp.hs
  compiler/GHC/HsToCore/PmCheck.hs
  compiler/GHC/HsToCore/PmCheck/Oracle.hs
  compiler/GHC/HsToCore/Utils.hs
  compiler/GHC/IfaceToCore.hs
  compiler/GHC/Stg/Unarise.hs
  compiler/GHC/Tc/Deriv/Infer.hs
  compiler/GHC/Tc/Gen/Rule.hs
  compiler/GHC/Tc/Instance/Typeable.hs
  compiler/GHC/Tc/Solver.hs
  compiler/GHC/Tc/Solver/Flatten.hs
  compiler/GHC/Tc/Utils/Env.hs
  compiler/GHC/Tc/Utils/TcMType.hs
  compiler/GHC/Types/Var.hs-boot
Owners: @bgamari, @simonpj, @rae, @RyanGlScott

Move isLinearType back to GHC.Core.Type
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Fixup
  compiler/GHC/Core/DataCon.hs
  compiler/GHC/Tc/Gen/Expr.hs
  compiler/GHC/Tc/Utils/TcType.hs
Owners: @bgamari, @simonpj, @rae

Fixup
  compiler/GHC/Tc/Gen/Pat.hs
Owners: @simonpj, @rae

Implement maybeQualifiedDo to get the qualifier of a do.
  compiler/GHC/Hs/Expr.hs
Owners: @simonpj, @rae

Fixup
  compiler/GHC/Tc/Gen/Pat.hs
Owners: @simonpj, @rae

Honor -XQualifiedDo in the renamer for regular M.do.
  compiler/GHC/Rename/Env.hs
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Implement -XQualifiedDo for refutable patterns.
  compiler/GHC/Rename/Expr.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/qdorun001.hs
  testsuite/tests/qualifieddo/qdorun001.stdout
Owners: @simonpj, @rae, @bgamari

Test the rec statement in a qualified do.
  testsuite/tests/qualifieddo/Monad/Graded.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun002.hs
  testsuite/tests/qualifieddo/qdorun002.stdout
Owners: @bgamari

Honor -XQualifiedDo in rec statements.
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Honor -XQualifiedDo for ApplicativeDo in the renamer.
  compiler/GHC/Rename/Env.hs
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Test QualifiedDo + ApplicativeDo.
  testsuite/tests/qualifieddo/Monad/Graded.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun003.hs
  testsuite/tests/qualifieddo/qdorun003.stdout
Owners: @bgamari

Fixup
  testsuite/tests/parser/should_compile/DumpRenamedAst.stderr
  testsuite/tests/typecheck/should_fail/ExplicitSpecificity2.stderr
Owners: @bgamari

Make the do context available in pprArg. #476
  compiler/GHC/Hs/Expr.hs
  compiler/GHC/Hs/Instances.hs
  compiler/GHC/HsToCore/Coverage.hs
  compiler/GHC/HsToCore/Expr.hs
  compiler/GHC/Iface/Ext/Ast.hs
  compiler/GHC/Rename/Expr.hs
  compiler/GHC/Tc/Gen/Match.hs
  compiler/GHC/Tc/Utils/Zonk.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdocompile001.hs
  testsuite/tests/qualifieddo/qdocompile001.stderr
Owners: @simonpj, @rae, @bgamari

Cache manyDataConTy in mkTyConApp
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Optimising splitFunTy_maybe
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Optimisations to eqType
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Use coreFullView more
  compiler/GHC/Core/TyCon.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Tc/Solver/Flatten.hs
Owners: @bgamari, @simonpj, @rae

Use mkTyConApp in subst_ty
  compiler/GHC/Core/DataCon.hs-boot
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Opt/Arity.hs
  compiler/GHC/Core/Opt/CSE.hs
  compiler/GHC/Core/Opt/SetLevels.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/Opt/Simplify/Monad.hs
  compiler/GHC/Core/TyCo/Rep.hs
  compiler/GHC/Core/TyCo/Rep.hs-boot
  compiler/GHC/Core/TyCo/Subst.hs
  compiler/GHC/Core/TyCo/Tidy.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Type.hs-boot
  compiler/GHC/Core/Utils.hs
  compiler/GHC/CoreToByteCode.hs
  compiler/GHC/Stg/Lift/Monad.hs
  compiler/GHC/Tc/Deriv/Functor.hs
  compiler/GHC/Tc/Gen/HsType.hs
  compiler/GHC/Tc/TyCl.hs
  compiler/GHC/Tc/Utils/TcMType.hs
  compiler/GHC/Tc/Utils/TcType.hs
  compiler/GHC/Tc/Utils/Zonk.hs
  compiler/GHC/Types/Id.hs
  compiler/GHC/Types/Var.hs
Owners: @bgamari, @RyanGlScott, @simonpj, @rae

subst_ty does less allocation
  compiler/GHC/Core/TyCo/Subst.hs
Owners: @bgamari

Use tyConAppTyCon_maybe instead of eqType
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Type.hs-boot
Owners: @bgamari

Remove multiplicityOkForCSE
  compiler/GHC/Core/Opt/CSE.hs
Owners: @bgamari

Remove MultMul pattern synonym
  compiler/GHC/Core/Lint.hs
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Tc/Utils/Unify.hs
Owners: @bgamari, @simonpj, @rae

Temporarily revert the change to scaleIdBy
  compiler/GHC/Types/Id.hs
Owners: @simonpj, @rae

Don't use contHoleScaling
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                  @int-index
/compiler/GHC/Hs/                  @simonpj @rae
/compiler/GHC/Tc/                  @simonpj @rae
/compiler/GHC/Rename/              @simonpj @rae
/compiler/GHC/Types/               @simonpj @rae
/compiler/GHC/HsToCore/            @simonpj @rae
/compiler/GHC/Tc/Deriv/            @RyanGlScott
/compiler/GHC/CmmToAsm/            @simonmar @bgamari @AndreasK
/compiler/GHC/CmmToLlvm/           @angerman
/compiler/GHC/StgToCmm/            @simonmar @osa1
/compiler/GHC/Cmm/                 @simonmar @osa1
/compiler/ghci/                    @simonmar
/compiler/GHC/Core/Op/CallArity.hs @nomeata
/compiler/utils/UnVarGraph.hs      @nomeata
/compiler/GHC/Core/Op/Exitify.hs   @nomeata
/compiler/GHC/Stg/CSE.hs           @nomeata
/compiler/GHC/Stg/Lift.hs          @sgraf
/compiler/GHC/Cmm/Switch.hs        @nomeata
/compiler/GHC/Core/Op/DmdAnal.hs   @simonpj @sgraf
/compiler/GHC/ThToHs.hs            @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
