Repository tweag/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

Test out-of-scope errors.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail003.hs
  testsuite/tests/qualifieddo/qdofail003.stderr
  testsuite/tests/qualifieddo/qdofail004.hs
  testsuite/tests/qualifieddo/qdofail004.stderr
Owners: @bgamari

Test that fail is not needed with irrefutable patterns.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdocompile002.hs
Owners: @bgamari

Test that RebindableSyntax can coexist with QualifiedDo.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun005.hs
  testsuite/tests/qualifieddo/qdorun005.stdout
Owners: @bgamari

Test QualifiedDo suggestion when using mdo.
  testsuite/tests/qualifieddo/qdofail002.hs
  testsuite/tests/qualifieddo/qdofail002.stderr
Owners: @bgamari

Comment about lazy binding in simplExprF1
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Discuss QualifiedDo in comments.
  compiler/GHC/Rename/Env.hs
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Add a release note for QualifiedDo.
  docs/users_guide/8.12.1-notes.rst
Owners: @bgamari

Use nominal role for mult consistently
  compiler/GHC/Core/FamInstEnv.hs
  compiler/GHC/Tc/Solver/Canonical.hs
  compiler/GHC/Tc/Solver/Flatten.hs
  compiler/GHC/Tc/TyCl.hs
  compiler/GHC/Tc/TyCl/Utils.hs
Owners: @bgamari, @simonpj, @rae

Add a release note for QualifiedDo.
  docs/users_guide/8.12.1-notes.rst
Owners: @bgamari

Discuss QualifiedDo in comments.
  compiler/GHC/Rename/Env.hs
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Add documentation of QualifiedDo to the user's guide
  docs/users_guide/8.12.1-notes.rst
  docs/users_guide/exts/qualified_do.rst
  docs/users_guide/exts/syntax.rst
Owners: @bgamari

Fix defaulting in printing code
  compiler/GHC/Iface/Type.hs
  testsuite/tests/typecheck/should_fail/ExplicitSpecificity2.stderr
Owners: @bgamari

Clarify code in rebindable syntax
  compiler/GHC/Tc/Gen/Expr.hs
Owners: @simonpj, @rae

Remove a case of lost-in-refactoring redundant code
  compiler/GHC/Tc/Gen/Expr.hs
Owners: @simonpj, @rae

Clarify an apparent information discarding
  compiler/GHC/Tc/Gen/Expr.hs
Owners: @simonpj, @rae

Edit style.
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Try to answer why someone would want to use QualifiedDo.
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Say something about the types of operations.
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Try to answer why someone would want to use QualifiedDo.
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Say something about the types of operations.
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Add documentation of QualifiedDo to the user's guide
  docs/users_guide/8.12.1-notes.rst
  docs/users_guide/exts/qualified_do.rst
  docs/users_guide/exts/syntax.rst
Owners: @bgamari

Edit style.
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Fixup
  compiler/GHC/Parser.y
Owners: @bgamari

Fixup
  compiler/GHC/Core/Lint.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/HsToCore/Expr.hs
  compiler/GHC/Iface/Ext/Ast.hs
  compiler/GHC/Runtime/Eval.hs
  libraries/ghc-prim/GHC/CString.hs
  testsuite/tests/codeGen/should_fail/T13233.stderr
  testsuite/tests/codeGen/should_fail/T13233_elab.stderr
  testsuite/tests/ghci/T18060/T18060.stdout
Owners: @bgamari, @simonpj, @rae

fix multiplicities in overloaded lists
  compiler/GHC/Tc/Gen/Expr.hs
  testsuite/tests/linear/should_fail/LinearSequenceExpr.hs
  testsuite/tests/linear/should_fail/LinearSequenceExpr.stderr
  testsuite/tests/linear/should_fail/all.T
Owners: @simonpj, @rae, @bgamari

fix multiplicity handling in rebindable if-then-else
  compiler/GHC/Tc/Gen/Expr.hs
  testsuite/tests/linear/should_fail/LinearIf.hs
  testsuite/tests/linear/should_fail/LinearIf.stderr
  testsuite/tests/linear/should_fail/all.T
Owners: @simonpj, @rae, @bgamari

A pass on the manual
  docs/users_guide/exts/linear-types.rst
  docs/users_guide/exts/linear_types.rst
  docs/users_guide/exts/types.rst
Owners: @bgamari

Typofixes
  docs/users_guide/exts/linear_types.rst
Owners: @bgamari

Review comments
  docs/users_guide/exts/linear_types.rst
Owners: @bgamari

Fun is in GHC.Exts
  docs/users_guide/exts/linear_types.rst
Owners: @bgamari

Typofix
  docs/users_guide/exts/linear_types.rst
Owners: @bgamari

Re-export `FUN` in GHC.Exts
  libraries/base/GHC/Exts.hs
Owners: @hvr

Clarify that coercions on multiplicity in FunCo are nominal
  compiler/GHC/Core/Coercion.hs
  compiler/GHC/Core/Coercion.hs-boot
  compiler/GHC/Core/TyCo/Rep.hs
Owners: @bgamari

Simplify generalisation of data constructors
  compiler/GHC/Tc/Gen/Expr.hs
Owners: @simonpj, @rae

Notes on records and type classes
  compiler/GHC/Types/Id/Make.hs
Owners: @simonpj, @rae

Small refactoring
  compiler/GHC/Core/FVs.hs
Owners: @bgamari

Leftover debug code
  compiler/GHC/Core/Lint.hs
Owners: @bgamari

Document an isReflCo
  compiler/GHC/Core/SimpleOpt.hs
Owners: @bgamari

A missing CoreView to unfold type synonyms
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Dead code clean up
  compiler/GHC/Core/Ppr.hs
Owners: @bgamari

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                  @int-index
/compiler/GHC/Hs/                  @simonpj @rae
/compiler/GHC/Tc/                  @simonpj @rae
/compiler/GHC/Rename/              @simonpj @rae
/compiler/GHC/Types/               @simonpj @rae
/compiler/GHC/HsToCore/            @simonpj @rae
/compiler/GHC/Tc/Deriv/            @RyanGlScott
/compiler/GHC/CmmToAsm/            @simonmar @bgamari @AndreasK
/compiler/GHC/CmmToLlvm/           @angerman
/compiler/GHC/StgToCmm/            @simonmar @osa1
/compiler/GHC/Cmm/                 @simonmar @osa1
/compiler/ghci/                    @simonmar
/compiler/GHC/Core/Op/CallArity.hs @nomeata
/compiler/utils/UnVarGraph.hs      @nomeata
/compiler/GHC/Core/Op/Exitify.hs   @nomeata
/compiler/GHC/Stg/CSE.hs           @nomeata
/compiler/GHC/Stg/Lift.hs          @sgraf
/compiler/GHC/Cmm/Switch.hs        @nomeata
/compiler/GHC/Core/Op/DmdAnal.hs   @simonpj @sgraf
/compiler/GHC/ThToHs.hs            @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
