Repository tweag/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                  @int-index
/compiler/GHC/Hs/                  @simonpj @rae
/compiler/GHC/Tc/                  @simonpj @rae
/compiler/GHC/Rename/              @simonpj @rae
/compiler/GHC/Types/               @simonpj @rae
/compiler/GHC/HsToCore/            @simonpj @rae
/compiler/GHC/Tc/Deriv/            @RyanGlScott
/compiler/GHC/CmmToAsm/            @simonmar @bgamari @AndreasK
/compiler/GHC/CmmToLlvm/           @angerman
/compiler/GHC/StgToCmm/            @simonmar @osa1
/compiler/GHC/Cmm/                 @simonmar @osa1
/compiler/ghci/                    @simonmar
/compiler/GHC/Core/Op/CallArity.hs @nomeata
/compiler/utils/UnVarGraph.hs      @nomeata
/compiler/GHC/Core/Op/Exitify.hs   @nomeata
/compiler/GHC/Stg/CSE.hs           @nomeata
/compiler/GHC/Stg/Lift.hs          @sgraf
/compiler/GHC/Cmm/Switch.hs        @nomeata
/compiler/GHC/Core/Op/DmdAnal.hs   @simonpj @sgraf
/compiler/GHC/ThToHs.hs            @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx

Update comment
  compiler/GHC/Tc/Types/Evidence.hs
Owners: @simonpj, @rae

Add a comment
  compiler/GHC/Types/Unique/FM.hs
Owners: @simonpj, @rae

Fixup
  compiler/GHC/Tc/Gen/Bind.hs
  compiler/GHC/Tc/Gen/Expr.hs
  compiler/GHC/Tc/Gen/HsType.hs
Owners: @simonpj, @rae

Fix can_eq_nc'
  compiler/GHC/Tc/Solver/Canonical.hs
Owners: @simonpj, @rae

Use tcWrapResult in tuple sections
  compiler/GHC/Tc/Gen/Expr.hs
Owners: @simonpj, @rae

Fix tests
  testsuite/tests/dependent/should_compile/dynamic-paper.stderr
  testsuite/tests/typecheck/should_compile/abstract_refinement_hole_fits.stderr
Owners: @bgamari

Add missing S/R conflict
  compiler/GHC/Parser.y
Owners: @bgamari

Make the users guide entry clearer
  docs/users_guide/exts/qualified_do.rst
Owners: @bgamari

Style changes
  compiler/GHC/Parser.y
  compiler/GHC/Rename/Env.hs
Owners: @bgamari, @simonpj, @rae

Fix holes and haddock tests
  compiler/GHC/Core/DataCon.hs
  compiler/GHC/Iface/Ext/Ast.hs
  compiler/GHC/Tc/Errors/Hole.hs
  testsuite/tests/haddock/haddock_testsuite/all.T
  testsuite/tests/typecheck/should_compile/all.T
  testsuite/tests/typecheck/should_compile/holes.stderr
  testsuite/tests/typecheck/should_compile/holes3.stderr
  testsuite/tests/typecheck/should_compile/type_in_type_hole_fits.stderr
  testsuite/tests/typecheck/should_compile/valid_hole_fits.stderr
Owners: @bgamari, @simonpj, @rae

Remove TODOs
  compiler/GHC/Builtin/Names/TH.hs
  compiler/GHC/Core/Lint.hs
  compiler/GHC/Core/UsageEnv.hs
Owners: @bgamari

Fix whitespace
  compiler/GHC/Iface/Type.hs
Owners: @bgamari

Force multiplicities
  compiler/GHC/Types/Var.hs
Owners: @simonpj, @rae

Update manual
  docs/users_guide/exts/linear_types.rst
Owners: @bgamari

mkMultMul: evaluate the arguments in order
  compiler/GHC/Core/Multiplicity.hs
Owners: @bgamari

Manual CSE
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Add release notes for linear types
  docs/users_guide/8.12.1-notes.rst
  docs/users_guide/exts.rst
Owners: @bgamari

Update docs/users_guide/8.12.1-notes.rst
  docs/users_guide/8.12.1-notes.rst
Owners: @bgamari

Fixup
  docs/users_guide/8.12.1-notes.rst
Owners: @bgamari

Discontinued
  README.md
Owners: @bgamari

[Doesn't compile] Add With constraints (part 1)
  compiler/GHC/Tc/Errors.hs
  compiler/GHC/Tc/Solver/Interact.hs
  compiler/GHC/Tc/Types/Constraint.hs
  compiler/GHC/Tc/Utils/Monad.hs
  compiler/GHC/Tc/Utils/TcMType.hs
  compiler/GHC/Tc/Utils/Unify.hs
Owners: @simonpj, @rae

[Doesn't compile] Add With constraints (part 2)
  compiler/GHC/Core/UsageEnv.hs
  compiler/GHC/Tc/Solver.hs
  compiler/GHC/Tc/Solver/Monad.hs
  compiler/GHC/Tc/Types/Constraint.hs
Owners: @bgamari, @simonpj, @rae

WIP
  compiler/GHC/Tc/Solver.hs
  compiler/GHC/Tc/Types/Constraint.hs
Owners: @simonpj, @rae
