Repository tweag/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

Fixup
  compiler/GHC/HsToCore/Expr.hs
Owners: @simonpj, @rae

Fixup
  compiler/GHC/HsToCore/Coverage.hs
Owners: @simonpj, @rae

Fix tests
  testsuite/tests/dependent/should_compile/dynamic-paper.stderr
  testsuite/tests/printer/T18052a.stderr
  testsuite/tests/simplCore/should_compile/T18013.stderr
Owners: @bgamari

Update default.nix and nixpkgs
  default.nix
  nix/pins/nixpkgs.src-json
Owners: @bgamari

No -Werror
  mk/flavours/validate.mk
Owners: @bgamari

Remove O0
  compiler/GHC/Driver/Session.hs
  compiler/GHC/Iface/Load.hs
Owners: @bgamari

No -Werror
  mk/flavours/validate.mk
Owners: @bgamari

Mark DataCon wrappers CONLIKE
  compiler/GHC/Core/SimpleOpt.hs
  compiler/GHC/Core/Utils.hs
  compiler/GHC/Types/Id.hs
  compiler/GHC/Types/Id/Make.hs
  testsuite/tests/deSugar/should_compile/T2431.stderr
  testsuite/tests/simplCore/should_compile/T18013.stderr
  testsuite/tests/simplCore/should_compile/T7360.stderr
  testsuite/tests/simplCore/should_run/T18012.hs
  testsuite/tests/simplCore/should_run/T18012.stdout
  testsuite/tests/simplCore/should_run/all.T
  testsuite/tests/stranal/should_compile/T16029.stdout
Owners: @bgamari, @simonpj, @rae

TEMP make the core-to-core passes be a 100 simplifiers
  compiler/GHC/Core/Opt/Driver.hs
Owners: @bgamari

Remove scaleJoinPoint
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Don't use contHoleScaling
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Optimize updateVarTypeAndMult
  compiler/GHC/Types/Var.hs
Owners: @simonpj, @rae

Fast-track One vs Many comparison
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Type.hs-boot
Owners: @bgamari

Return a triple in splitFunTy_maybe
  compiler/GHC/Core/Arity.hs
  compiler/GHC/Core/Coercion.hs
  compiler/GHC/Core/Lint.hs
  compiler/GHC/Core/Opt/ConstantFold.hs
  compiler/GHC/Core/Opt/Simplify/Utils.hs
  compiler/GHC/Core/Opt/WorkWrap/Utils.hs
  compiler/GHC/Core/SimpleOpt.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Utils.hs
  compiler/GHC/CoreToStg/Prep.hs
  compiler/GHC/HsToCore/Binds.hs
  compiler/GHC/HsToCore/Match/Literal.hs
  compiler/GHC/Runtime/Heap/Inspect.hs
  compiler/GHC/Tc/Errors/Hole.hs
  compiler/GHC/Tc/Instance/Class.hs
  compiler/GHC/Tc/Utils/Unify.hs
Owners: @bgamari, @simonpj, @rae

Return a triple in splitFunTy
  compiler/GHC/Core/Make.hs
  compiler/GHC/Core/Opt/FloatIn.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/HsToCore/Binds.hs
Owners: @bgamari, @simonpj, @rae

Make sc_mult strict
  compiler/GHC/Core/Opt/Simplify/Utils.hs
Owners: @bgamari

Cache manyDataConTy in mkTyConApp
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Cache manyDataConTy in mkTyConApp
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Add some SCCs for profiling
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/TyCo/Tidy.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/UsageEnv.hs
  compiler/GHC/Core/Utils.hs
Owners: @bgamari

Prof auto in Simplify.hs
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Cache manyDataConTy in mkTyConApp
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Optimisations to eqType
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Optimising splitFunTy_maybe
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Don't count multiplicity in sizeType
  compiler/GHC/Tc/Utils/TcType.hs
  compiler/GHC/Tc/Validity.hs
Owners: @simonpj, @rae

Cache manyDataConTy in mkTyConApp
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Add some SCCs for profiling
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/TyCo/Tidy.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/UsageEnv.hs
  compiler/GHC/Core/Utils.hs
Owners: @bgamari

Cache manyDataConTy in mkTyConApp
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Prof auto in Simplify.hs
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Profiling info
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Extend the AST to represent qualified do.
  compiler/GHC/Hs/Expr.hs
  compiler/GHC/HsToCore/Arrows.hs
  compiler/GHC/HsToCore/Expr.hs
  compiler/GHC/HsToCore/ListComp.hs
  compiler/GHC/HsToCore/Quote.hs
  compiler/GHC/Parser.y
  compiler/GHC/Parser/PostProcess.hs
  compiler/GHC/Rename/Expr.hs
  compiler/GHC/Tc/Deriv/Generate.hs
  compiler/GHC/Tc/Gen/Match.hs
  compiler/GHC/ThToHs.hs
Owners: @simonpj, @rae, @bgamari, @RyanGlScott

Add flag for -XQualifiedDo for #468
  compiler/GHC/Driver/Session.hs
  libraries/ghc-boot-th/GHC/LanguageExtensions/Type.hs
Owners: @bgamari

Add QualifiedDo to the cabal test
  testsuite/tests/driver/T4437.hs
Owners: @bgamari

Add QualifiedDo to the cabal test
  testsuite/tests/driver/T4437.hs
Owners: @bgamari

Add flag for -XQualifiedDo for #468
  compiler/GHC/Driver/Session.hs
  libraries/ghc-boot-th/GHC/LanguageExtensions/Type.hs
Owners: @bgamari

Mark DataCon wrappers CONLIKE
  compiler/GHC/Core/SimpleOpt.hs
  compiler/GHC/Core/Utils.hs
  compiler/GHC/Types/Id.hs
  compiler/GHC/Types/Id/Make.hs
  testsuite/tests/deSugar/should_compile/T2431.stderr
  testsuite/tests/simplCore/should_compile/T18013.stderr
  testsuite/tests/simplCore/should_compile/T7360.stderr
  testsuite/tests/simplCore/should_run/T18012.hs
  testsuite/tests/simplCore/should_run/T18012.stdout
  testsuite/tests/simplCore/should_run/all.T
  testsuite/tests/stranal/should_compile/T16029.stdout
Owners: @bgamari, @simonpj, @rae

Extend the AST to represent qualified do.
  compiler/GHC/Hs/Expr.hs
  compiler/GHC/HsToCore/Arrows.hs
  compiler/GHC/HsToCore/Expr.hs
  compiler/GHC/HsToCore/ListComp.hs
  compiler/GHC/HsToCore/Quote.hs
  compiler/GHC/Parser.y
  compiler/GHC/Parser/PostProcess.hs
  compiler/GHC/Rename/Expr.hs
  compiler/GHC/Tc/Deriv/Generate.hs
  compiler/GHC/Tc/Gen/Match.hs
  compiler/GHC/ThToHs.hs
Owners: @simonpj, @rae, @bgamari, @RyanGlScott

Parse qualified do statements
  compiler/GHC/Parser.y
  compiler/GHC/Parser/Lexer.x
  compiler/GHC/Parser/PostProcess.hs
Owners: @bgamari

Attempt: use mkTyConApp in subst_ty
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/TyCo/Rep.hs
  compiler/GHC/Core/TyCo/Rep.hs-boot
  compiler/GHC/Core/TyCo/Subst.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Type.hs-boot
Owners: @bgamari

Revert the change to Match
  compiler/GHC/HsToCore/Match.hs
Owners: @simonpj, @rae

Fixup
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/TyCo/Rep.hs-boot
  compiler/GHC/Core/UsageEnv.hs
Owners: @bgamari

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                  @int-index
/compiler/GHC/Hs/                  @simonpj @rae
/compiler/GHC/Tc/                  @simonpj @rae
/compiler/GHC/Rename/              @simonpj @rae
/compiler/GHC/Types/               @simonpj @rae
/compiler/GHC/HsToCore/            @simonpj @rae
/compiler/GHC/Tc/Deriv/            @RyanGlScott
/compiler/GHC/CmmToAsm/            @simonmar @bgamari @AndreasK
/compiler/GHC/CmmToLlvm/           @angerman
/compiler/GHC/StgToCmm/            @simonmar @osa1
/compiler/GHC/Cmm/                 @simonmar @osa1
/compiler/ghci/                    @simonmar
/compiler/GHC/Core/Op/CallArity.hs @nomeata
/compiler/utils/UnVarGraph.hs      @nomeata
/compiler/GHC/Core/Op/Exitify.hs   @nomeata
/compiler/GHC/Stg/CSE.hs           @nomeata
/compiler/GHC/Stg/Lift.hs          @sgraf
/compiler/GHC/Cmm/Switch.hs        @nomeata
/compiler/GHC/Core/Op/DmdAnal.hs   @simonpj @sgraf
/compiler/GHC/ThToHs.hs            @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
