Repository tweag/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

Remove scaleJoinPoint
  compiler/GHC/Core/Opt/Simplify.hs
Owners: @bgamari

Return a triple in splitFunTy_maybe
  compiler/GHC/Core/Coercion.hs
  compiler/GHC/Core/Lint.hs
  compiler/GHC/Core/Opt/Arity.hs
  compiler/GHC/Core/Opt/ConstantFold.hs
  compiler/GHC/Core/Opt/Simplify/Utils.hs
  compiler/GHC/Core/Opt/WorkWrap/Utils.hs
  compiler/GHC/Core/SimpleOpt.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Utils.hs
  compiler/GHC/CoreToStg/Prep.hs
  compiler/GHC/HsToCore/Binds.hs
  compiler/GHC/HsToCore/Match/Literal.hs
  compiler/GHC/Runtime/Heap/Inspect.hs
  compiler/GHC/Tc/Errors/Hole.hs
  compiler/GHC/Tc/Instance/Class.hs
  compiler/GHC/Tc/Utils/Unify.hs
Owners: @bgamari, @simonpj, @rae

Return a triple in splitFunTy
  compiler/GHC/Core/Make.hs
  compiler/GHC/Core/Opt/FloatIn.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/HsToCore/Binds.hs
Owners: @bgamari, @simonpj, @rae

Test that qualified dos show in error messages.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail001.hs
  testsuite/tests/qualifieddo/qdofail001.stderr
Owners: @bgamari

Improve suggestion to use QualifiedDo.
  compiler/GHC/Parser.y
  compiler/GHC/Parser/Lexer.x
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail002.hs
  testsuite/tests/qualifieddo/qdofail002.stderr
Owners: @bgamari

Honor -XQualifiedDo for ApplicativeDo in the renamer.
  compiler/GHC/Rename/Env.hs
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Improve suggestion to use QualifiedDo.
  compiler/GHC/Parser.y
  compiler/GHC/Parser/Lexer.x
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail002.hs
  testsuite/tests/qualifieddo/qdofail002.stderr
Owners: @bgamari

Test QualifiedDo + ApplicativeDo.
  testsuite/tests/qualifieddo/Monad/Graded.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun003.hs
  testsuite/tests/qualifieddo/qdorun003.stdout
Owners: @bgamari

Test the rec statement in a qualified do.
  testsuite/tests/qualifieddo/Monad/Graded.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun002.hs
  testsuite/tests/qualifieddo/qdorun002.stdout
Owners: @bgamari

Test that qualified dos show in error messages.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail001.hs
  testsuite/tests/qualifieddo/qdofail001.stderr
Owners: @bgamari

Honor -XQualifiedDo in rec statements.
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Implement maybeQualifiedDo to get the qualifier of a do.
  compiler/GHC/Hs/Expr.hs
Owners: @simonpj, @rae

Honor -XQualifiedDo in the renamer for regular M.do.
  compiler/GHC/Rename/Env.hs
  compiler/GHC/Rename/Expr.hs
Owners: @simonpj, @rae

Make the do context available in pprArg. #476
  compiler/GHC/Hs/Expr.hs
  compiler/GHC/Hs/Instances.hs
  compiler/GHC/HsToCore/Coverage.hs
  compiler/GHC/HsToCore/Expr.hs
  compiler/GHC/Iface/Ext/Ast.hs
  compiler/GHC/Rename/Expr.hs
  compiler/GHC/Tc/Gen/Match.hs
  compiler/GHC/Tc/Utils/Zonk.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdocompile001.hs
  testsuite/tests/qualifieddo/qdocompile001.stderr
Owners: @simonpj, @rae, @bgamari

Implement -XQualifiedDo for refutable patterns.
  compiler/GHC/Rename/Expr.hs
  testsuite/tests/qualifieddo/Vector.hs
  testsuite/tests/qualifieddo/qdorun001.hs
  testsuite/tests/qualifieddo/qdorun001.stdout
Owners: @simonpj, @rae, @bgamari

Test QualifiedDo suggestion when using mdo.
  testsuite/tests/qualifieddo/qdofail002.hs
  testsuite/tests/qualifieddo/qdofail002.stderr
Owners: @bgamari

Test out-of-scope errors.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail003.hs
  testsuite/tests/qualifieddo/qdofail003.stderr
  testsuite/tests/qualifieddo/qdofail004.hs
  testsuite/tests/qualifieddo/qdofail004.stderr
Owners: @bgamari

Test that fail is not needed with irrefutable patterns.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdocompile002.hs
Owners: @bgamari

INLINE tyConAppTyCon_maybe
  compiler/GHC/Core/TyCon.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Iface/Type.hs
Owners: @bgamari

Return a triple in splitFunTy_maybe
  compiler/GHC/Core/Coercion.hs
  compiler/GHC/Core/Lint.hs
  compiler/GHC/Core/Opt/Arity.hs
  compiler/GHC/Core/Opt/ConstantFold.hs
  compiler/GHC/Core/Opt/Simplify/Utils.hs
  compiler/GHC/Core/Opt/WorkWrap/Utils.hs
  compiler/GHC/Core/SimpleOpt.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Core/Utils.hs
  compiler/GHC/CoreToStg/Prep.hs
  compiler/GHC/HsToCore/Binds.hs
  compiler/GHC/HsToCore/Match/Literal.hs
  compiler/GHC/Runtime/Heap/Inspect.hs
  compiler/GHC/Tc/Errors/Hole.hs
  compiler/GHC/Tc/Instance/Class.hs
  compiler/GHC/Tc/Utils/Unify.hs
Owners: @bgamari, @simonpj, @rae

Return a triple in splitFunTy
  compiler/GHC/Core/Make.hs
  compiler/GHC/Core/Opt/FloatIn.hs
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/HsToCore/Binds.hs
Owners: @bgamari, @simonpj, @rae

Revert "Temporarily revert the change to scaleIdBy"
  compiler/GHC/Types/Id.hs
Owners: @simonpj, @rae

Use scaleVarBy where we have to
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/HsToCore/Utils.hs
Owners: @bgamari, @simonpj, @rae

Use a type synonym in Multiplicity
  compiler/GHC/Core/Multiplicity.hs
Owners: @bgamari

INLINE lots of function in Type
  compiler/GHC/Core/Type.hs
Owners: @bgamari

Test that return is not affected by QualifiedDo.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun004.hs
  testsuite/tests/qualifieddo/qdorun004.stdout
Owners: @bgamari

Test that RebindableSyntax can coexist with QualifiedDo.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun005.hs
  testsuite/tests/qualifieddo/qdorun005.stdout
Owners: @bgamari

Move Multiplicity above Type in module hierarchy
  compiler/GHC/Builtin/Types.hs
  compiler/GHC/Core/Coercion.hs
  compiler/GHC/Core/FVs.hs
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Opt/Exitify.hs
  compiler/GHC/Core/Opt/FloatIn.hs
  compiler/GHC/Core/Opt/Simplify/Env.hs
  compiler/GHC/Core/Opt/StaticArgs.hs
  compiler/GHC/Core/PatSyn.hs
  compiler/GHC/Core/TyCo/Ppr.hs
  compiler/GHC/Core/TyCo/Ppr.hs-boot
  compiler/GHC/Core/TyCo/Subst.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/CoreToByteCode.hs
  compiler/GHC/HsToCore.hs
  compiler/GHC/HsToCore/ListComp.hs
  compiler/GHC/HsToCore/PmCheck.hs
  compiler/GHC/HsToCore/PmCheck/Oracle.hs
  compiler/GHC/HsToCore/Utils.hs
  compiler/GHC/IfaceToCore.hs
  compiler/GHC/Stg/Unarise.hs
  compiler/GHC/Tc/Deriv/Infer.hs
  compiler/GHC/Tc/Gen/Rule.hs
  compiler/GHC/Tc/Instance/Typeable.hs
  compiler/GHC/Tc/Solver/Flatten.hs
  compiler/GHC/Tc/Utils/Env.hs
  compiler/GHC/Tc/Utils/TcMType.hs
  compiler/GHC/Types/Var.hs-boot
Owners: @bgamari, @simonpj, @rae, @RyanGlScott

Move isLinearType back to GHC.Core.Type
  compiler/GHC/Core/Multiplicity.hs
  compiler/GHC/Core/Type.hs
Owners: @bgamari

INLINE tyConAppTyCon_maybe
  compiler/GHC/Core/TyCon.hs
  compiler/GHC/Core/Type.hs
  compiler/GHC/Iface/Type.hs
Owners: @bgamari

Improve the error messages for M.do in commands.
  compiler/GHC/Parser/PostProcess.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail005.hs
  testsuite/tests/qualifieddo/qdofail005.stderr
Owners: @bgamari

Fixup
  compiler/GHC/CoreToStg/Prep.hs
Owners: @bgamari

Fix duplicate types showing up in haddock
  testsuite/tests/haddock/haddock_testsuite/all.T
Owners: @bgamari

Get rid of question mark in suggestion of RecursiveDo
  compiler/GHC/Parser/Lexer.x
Owners: @bgamari

Implement TH support for QualifiedDo.
  compiler/GHC/Builtin/Names/TH.hs
  compiler/GHC/HsToCore/Quote.hs
  compiler/GHC/ThToHs.hs
  libraries/template-haskell/Language/Haskell/TH/Lib/Internal.hs
  libraries/template-haskell/Language/Haskell/TH/Ppr.hs
  libraries/template-haskell/Language/Haskell/TH/Syntax.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun006.hs
  testsuite/tests/qualifieddo/qdorun006.stdout
  testsuite/tests/th/T2597b_Lib.hs
  testsuite/tests/th/T9022.hs
  testsuite/tests/th/TH_invalid_add_top_decl.hs
Owners: @bgamari, @simonpj, @rae

Use scaleVarBy correctly
  compiler/GHC/Core/Opt/Simplify.hs
  compiler/GHC/HsToCore/Utils.hs
Owners: @bgamari, @simonpj, @rae

Improve the error messages for M.do in commands.
  compiler/GHC/Parser/PostProcess.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdofail005.hs
  testsuite/tests/qualifieddo/qdofail005.stderr
Owners: @bgamari

Test that return is not affected by QualifiedDo.
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun004.hs
  testsuite/tests/qualifieddo/qdorun004.stdout
Owners: @bgamari

Get rid of question mark in suggestion of RecursiveDo
  compiler/GHC/Parser/Lexer.x
Owners: @bgamari

Implement TH support for QualifiedDo.
  compiler/GHC/Builtin/Names/TH.hs
  compiler/GHC/HsToCore/Quote.hs
  compiler/GHC/ThToHs.hs
  libraries/template-haskell/Language/Haskell/TH/Lib/Internal.hs
  libraries/template-haskell/Language/Haskell/TH/Ppr.hs
  libraries/template-haskell/Language/Haskell/TH/Syntax.hs
  testsuite/tests/qualifieddo/all.T
  testsuite/tests/qualifieddo/qdorun006.hs
  testsuite/tests/qualifieddo/qdorun006.stdout
  testsuite/tests/th/T2597b_Lib.hs
  testsuite/tests/th/T9022.hs
  testsuite/tests/th/TH_invalid_add_top_decl.hs
Owners: @bgamari, @simonpj, @rae

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                  @int-index
/compiler/GHC/Hs/                  @simonpj @rae
/compiler/GHC/Tc/                  @simonpj @rae
/compiler/GHC/Rename/              @simonpj @rae
/compiler/GHC/Types/               @simonpj @rae
/compiler/GHC/HsToCore/            @simonpj @rae
/compiler/GHC/Tc/Deriv/            @RyanGlScott
/compiler/GHC/CmmToAsm/            @simonmar @bgamari @AndreasK
/compiler/GHC/CmmToLlvm/           @angerman
/compiler/GHC/StgToCmm/            @simonmar @osa1
/compiler/GHC/Cmm/                 @simonmar @osa1
/compiler/ghci/                    @simonmar
/compiler/GHC/Core/Op/CallArity.hs @nomeata
/compiler/utils/UnVarGraph.hs      @nomeata
/compiler/GHC/Core/Op/Exitify.hs   @nomeata
/compiler/GHC/Stg/CSE.hs           @nomeata
/compiler/GHC/Stg/Lift.hs          @sgraf
/compiler/GHC/Cmm/Switch.hs        @nomeata
/compiler/GHC/Core/Op/DmdAnal.hs   @simonpj @sgraf
/compiler/GHC/ThToHs.hs            @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
